 <header>





    　　<%= link_to "マイページ", customer_customer_path(current_customer), class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
        <%= link_to "カート", customer_cart_items_path, class: 'btn btn-default' %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>


        <p>ようこそ
        <%= @customer.last_name %>
				<%= @customer.first_name %>
				さん！</p>
</header>


<main>
<p>　会員情報編集　</p>

<%= form_for([:customer, @customer]) do |f| %>

  <div class="field">
   <%= f.label :氏名 %> <%= f.text_field :last_name %> <%= f.text_field :first_name %>
  </div>

  <div class="field">
   <%= f.label :フリガナ %> <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
   <%= f.label :郵便番号 %> <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal-code" %>
  </div>

  <div class="field">
   <%= f.label :住所 %>
   <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "address" %>
  </div>

　<div class="field">
   <%= f.label :メールアドレス %>
   <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
　</div>

　<div class="actions">
    <%= f.submit "    編集内容を保存    "  ,class: "btn btn-success"%>
  </div>

  <%= link_to " 退会する" , customers_confirm_withdraw_path, class: "btn btn-danger ms-3" %>

<% end %>

</main>