<body>

  <header>
         <div class = "logo">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "100x100" %>
            <% end %>
         </div>
  	     <div class = "header">
          <%= link_to "商品一覧", admin_items_path , class: 'btn btn-default' %>
          <%= link_to "会員一覧",  admin_customers_path , class: 'btn btn-default' %>
          <%= link_to "注文履歴一覧", admin_path, class: 'btn btn-default' %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn btn-default' %>
        </div>
  </header>

<style>

  .logo,
  .header{
  	 display: inline-block;
  }

  .logo {
  	margin-right: 700px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  }


  .item-box{
    display:flex;
  }
  .main-visual{
    margin:50px;
    margin-top:20px;
    justify-content: center;
  }


   .button{
    margin-left: 400px;
  }




</style>



<div class ="container">
   <h3 style = "margin-left: 100px;">商品詳細</h3>
  <div class = "item-box">
    <div class ="main-visual">
      <%= image_tag @item.image ,size: "300x250" %>
    </div>

    <div class ="main">
      <table class = "table">
        <tr>
        　<th>商品名</th> <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th><td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>税込価格</th><td>¥<%= @item.with_tax_price %></td>
        </tr>
        <tr>
          <th>税抜き価格</th> <td>¥<%= @item.price %></td>
        </tr>
      </table>
    </div>
  </div>
 <div class = "button">
         <%= link_to  '  編集する  ', edit_admin_item_path, class: "btn btn-success" %>
 </div>
</div>
