<body>
  <header>
    　　<%= link_to "About", about_path , class: 'btn btn-default' %>
        <%= link_to "商品一覧", items_path , class: 'btn btn-default' %>
        <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default' %>
        <% if admin_signed_in? %>
        <%= link_to "ログアウト", admin_session_path, method: :delete,class: 'btn btn-default' %>
        <% else %>
        <%= link_to "ログイン", new_admin_session_path , class: 'btn btn-default' %>
        <% end %>
  </header>

  <main>
    <h2>管理者ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <div class="actions">
    <%= f.submit "   ログイン   " , class: "btn btn-primary"%>
    </div>
    <% end %>
    <%= render "admin/shared/links" %>

  </main>

</body>