<body>
  <header>

  <div class = "logo">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "100x100" %>
            <% end %>
  </div>
    
        <%= link_to "About", about_path , class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path, class: 'btn btn-default' %>
        <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default' %>
        <%= link_to "ログイン", new_customer_session_path , class: 'btn btn-default' %>
  </header>

  <style>
  
  
   
  .logo,
  .header{
  	 display: inline-block;
  }

  .logo {
  	margin-right: 700px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  }
  
    .main {
      display: flex;
      justify-content: center;
    }
    .form {
      padding: 20px;
    }

    .field {
      margin: 20px;
    }

    .field label {
      text-align: right;
    }

    .actions {
      margin-left: 150px;
      margin-top,bottom,right: 20px;
    }

    .new {
      margin-top: 50px;
    }
  </style>

  <div class="main">
    <div class="form">
    <h5>ログイン</h5>
      </br>
      <p>会員の方はこちらからログイン</p>

      <%= form_with model: @customer, url: new_customer_session_path,  class: 'customer', local: true do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.email_field :email, autofocus: true, autocomplete: "email",size: "50" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.password_field :password, autocomplete: "current-password",size: "50" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class = "new">
      <p>会員登録がお済みでない方<br /></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "こちら", new_customer_registration_path %>&nbsp;&nbsp;から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</body>
