<body>
  <header>
    　　<%= link_to "About", about_path , class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
        <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default' %>
        <%= link_to "ログイン", new_customer_session_path , class: 'btn btn-default' %>
  </header>

  <style>
    .main {
      display: flex;
      justify-content: center;
    }

    .form {
      margin: auto;
    }

    .field {
      margin: 20px;
    }

    .field label {
      text-align: right;
    }

    .actions {
      margin: 20px;
      text-align: center;
    }
  </style>

  <div class="main">
    <div class="form">
      <h5>ログイン</h5>
      <p>会員の方はこちらからログイン</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>

      <p>会員登録がお済みでない方<br /></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "こちら", new_customer_registration_path %>&nbsp;から新規登録を行ってください。</p>
    </div>
  </div>
</body>
