<header>


    　　<%= link_to "マイページ", customers_current_customer_path, class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
        <%= link_to "カート", customer_cart_items_path, class: 'btn btn-default' %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>

        <p>ようこそ
        <%= @customer.last_name %>
		<%= @customer.first_name %>
		さん！</p>
</header>

  <style>

  .title{
    margin-left:100px;
  }

  .container{
    display: flex;
  }


  .main-table{
    margin-right:50px;
  }

  .confirm{
    margin-left:100px;
  }

    .table.row th,
    .table.row td{

      width:100%;

      display:block;


    }
  </style>
<div class = "main">
  <div class = "title">
    <h3>注文情報確認</h3>
  </div>

  <div class = "container">

    <div class = "main-table">
      <table class = "table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>

      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.item.image, size: "100x80" %>
          <%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal %></td>
        </tr>
        <% end %>
      </tbody>

      </table>
    </div>

    <div class= "sub-table">
      <table class = "row">
        <tr>
          <th>送料</th>
          <td><%= @shipping_fee %>円</td>
        </tr>

        <tr>
          <th>商品合計</th>
          <td><%= @sum %>円</td>
        </tr>

        <tr>
          <th>請求金額</th>
          <td><%= @total_amount %>円</td>
        </tr>

      </table>
    </div>
  </div>



    <div class = "confirm">


      <p>支払い方法</p>
      <p>
        <% if @selected_payment_method == "credit_card" %>
         クレジットカード
        <% else %>
         銀行振込
        <% end %></p>

      <p>お届け先</p><p><%=@order.address %></p>
      <p><%=@order.name %>
      </p>
    </div>


  <%= form_with model: @order , url: "/customer/orders"  , method: :post, local:true do |f| %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :payment_method, value:  @order.payment_method %>
    <%= f.hidden_field :shipping_fee, value: 800 %>
    <%= f.hidden_field :postcode, value: @order.postcode %>
    <%= f.hidden_field :total_amount, value: @sum + 800%>
    <%= f.hidden_field :address, value: @order.address%>
    <%= f.hidden_field :name, value: @order.name %>

    <div class = "button">
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
  <% end %>
  </div>