<header>


    　　<%= link_to "マイページ", customers_current_customer_path, class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
        <%= link_to "カート", customer_cart_items_path, class: 'btn btn-default' %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>

        <p>ようこそ
        <%= @customer.last_name %>
		<%= @customer.first_name %>
		さん！</p>
  </header>

<h3>注文情報入力</h3>
<%= form_with(model: [:customer, @order], url: customers_orders_confirm_path(@order),method: :post) do |f| %>


   <p>支払い方法</p>
   <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
   <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
   <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
   <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>


 <p>お届け先</p>
  <%= @customer.postal_code %>
  <%= @customer.address %>



<div class = "button">

  <%= f.submit '  確認画面へ進む  ' ,class: "btn btn-primary" %>
</div>

<% end %>



