<header>
  	<div class = "logo">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "100x100" %>
            <% end %>
  	</div>
  	<div class = "header">
    　　<%= link_to "マイページ", customer_customer_path(current_customer), class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
        <%= link_to "カート", customer_cart_items_path, class: 'btn btn-default' %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>
     </div>
  </header>

  <style>

  .logo,
  .header{
  	 display: inline-block;
  }

  .logo {
  	margin-right: 700px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  }

  .order-tables{
    display: flex;
  }

  div {
    display: block;
  }

  table {
    margin-left:30px;
    margin-bottom: 30px;
    margin-top:10px;
  }

  th,td{
    padding: 10px;
  }


</style>

    <h5 style = "margin-left:100px">注文履歴詳細</h5>

    <div class = "order-tables">
    <table class = "order-table">
      <tr>
        <th style="border-width: 0px; border: none;"><strong>注文情報</strong></th>
　　　　<td style="border-width: 0px; border: none;"></td>
      </tr>
      <tr>
       <%= form_with model: [:customer,@order], local:true do |f| %>
        <th style= "border: 1px solid;">注文日&emsp;&emsp;&emsp;&emsp;</th>
        <td style= "border: 1px solid;"><%=@order.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
      <tr>
        <th style= "border: 1px solid;">配送先&emsp;&emsp;&emsp;&emsp;</th>
        <td style= "border: 1px solid;"><%=@order.address %>&emsp;&emsp;</td>
      </tr>
      <tr>
        <th style= "border: 1px solid;">支払い方法&emsp;&emsp;</th>
        <td style= "border: 1px solid;"><%=@order.payment_method_i18n %>&emsp;&emsp;</td>
       <% end %>
      </tr>
    </table>

    <table class = "fee">
      <tr>
        <th style="border-width: 0px; border: none;"><strong>請求情報</strong></th>
　　　　<td style="border-width: 0px; border: none;"></td>
      </tr>
  　<tr>
      <th style= "border: 1px solid;">商品合計&emsp;&emsp;</th>
      <td style= "border: 1px solid;">
        <% @sum = 0 %>
        <% @order_items.each do |order_item| %>
          <% @sum += order_item.price * order_item.quantity %>
        <% end %>
        <%= @sum %>&emsp;&emsp;
      </td>
  　</tr>

    <tr>
      <th style= "border: 1px solid;">配送料</th>
      <td style= "border: 1px solid;"><%= @shipping_fee %></td>
    </tr>

    <tr>
      <th style= "border: 1px solid;">ご請求額</th>
      <td style= "border: 1px solid;"><%= @total_amount %></td>
    </tr>
    </table>
    </div>

    <strong style ="margin-left:30px;">注文内容</strong>
    <table class = "order-item">
      <tr style= "border: 1px solid;">
      <thead>
       <th style= "border: 1px solid;">商品</th>
       <th style= "border: 1px solid;">単価(税込)&emsp;&emsp;</th>
       <th style= "border: 1px solid;">個数&emsp;&emsp;</th>
       <th style= "border: 1px solid;">小計&emsp;&emsp;</th>
       </thead>
    　</tr>
      <tr>
      <tbody>
      <% @order_items.each do |order_item| %>
        <tr style = "border: 1px solid;">
          <td style= "padding-right:100px;"><%= order_item.item.name %>&emsp;&emsp;</td>
          <td style= "border: 1px solid;"><%= order_item.price %>&emsp;&emsp;</td>
          <td style= "border: 1px solid;"><%= order_item.quantity %></td>
          <td style= "border: 1px solid;"><%= order_item.price * order_item.quantity %></td>
        </tr>
      <% end %>
    　</tbody>
      </tr>

    </table>
