<header>
  	<div class = "logo">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "100x100" %>
            <% end %>
  	</div>
  	<div class = "header">
    　　<%= link_to "マイページ", customer_customer_path(current_customer), class: 'btn btn-default' %>
        <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
        <%= link_to "カート", customer_cart_items_path, class: 'btn btn-default' %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>
     </div>
  </header>


  <style>

  div {
  	 display: inline-block;
  }

  .logo {
  	margin-right: 700px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  }

  main {
  display: flex;
  justify-content: center;
  align-items: center;
}

  thanks{
  text-align: center;
}
</style>

<main><thanks style= "display:flex; justify-content: space-between;">ご注文ありがとうございました！</thanks></main>
