<body>

  <header>

        <%= link_to "商品一覧", admin_items_path , class: 'btn btn-default' %>
        <%= link_to "会員一覧",  admin_customers_path , class: 'btn btn-default' %>
        <%= link_to "注文履歴一覧", admin_path, class: 'btn btn-default' %>
        <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn btn-default' %>
        <% else %>
        <%= link_to "ログイン", new_admin_session_path , class: 'btn btn-default' %>
        <% end %>
  </header>

  <main>
    <h2>注文履歴詳細</h2>
    <strong><p>購入者</p></strong><%= @order.name %>
    <strong><p>注文日</p></strong><%= @order.created_at.strftime("%Y-%m-%d") %>
    <strong><p>配送先</p></strong><%= @order.address %>
    <strong><p>支払い方法</p></strong><%= @order.payment_method_i18n%>


    <div class = "table">
      <table class= "table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        
        <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.price %></td>
            <td><%= order_item.quantity %></td>
            <td><%=  order_item.price*order_item.quantity %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <strong><p>商品合計</p></strong>
    <%= @order.total_amount - @shipping_fee %>円
    <strong><p>送料</p></strong><%= @shipping_fee %>円
    <strong><p>請求金額合計</p></strong><%= @order.total_amount %>円
  </main>