<header>
  <%= link_to "マイページ", customers_current_customer_path, class: 'btn btn-default' %>
  <%= link_to "商品一覧", customer_items_path , class: 'btn btn-default' %>
  <%= link_to "カート",  customer_cart_items_path, class: 'btn btn-default' %>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>
</header>

<h2>商品一覧(全×件)</h2>
 <style>
 
     .container{
       display: flex;
     }

     .item-box{
       justify-content: center;
       margin:20px;
     }

 </style>

 <div class ="container">

 <% @items.each do |item| %>

  <div class ="item-box">
    <div class ="item-image">
    <%= link_to customer_item_path(item.id) do %>
     <%= image_tag item.image ,size: "200x150" %>
    <% end %>
    </div>
    <div class = "item-name">
     <%= item.name %>
    </div>
    
   <div class = "item-price">
    ¥ <%= item.price %>
   </div>

  </div>
<% end %>
</div>