<header>
  
  <div class = "logo">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "100x100" %>
            <% end %>
  </div> 
    
    <% if customer_signed_in? %>
        <%= link_to "マイページ", customer_customer_path(current_customer), class: 'btn btn-default' %>
    <% else %>
    　　<%= link_to "About", about_path , class: 'btn btn-default' %>
    <% end %>

        <%= link_to "商品一覧", customer_items_path, class: 'btn btn-default' %>
        <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default' %>
         <% if customer_signed_in? %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>
        <% else %>
        <%= link_to "ログイン", new_customer_session_path , class: 'btn btn-default' %>
        <% end %>
  </header>


<style>
  
  div {
  	 display: inline-block;
  }
  
  .logo {
  	margin-right: 700px;
  }
 

  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  }



  .item-box{
    display:flex;
  }
  .main-visual{
    margin:50px;
    margin-top:20px;
    justify-content: center;
  }


   .button{
    justify-content: center;
    margin-top:20px;
  }




</style>



<div class ="container">
  <div class = "item-box">
    <div class ="main-visual">
      <%= image_tag @item.image ,size: "300x250" %>
    </div>

    <div class ="main">
      <table class = "table">
        <tr>
        　<td><%= @item.name %></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
        <td>¥<%= @item.with_tax_price %>(税込)</td>
        </tr>
      </table>
    <% if customer_signed_in? %>
      <%= form_with model: [:customer,@cart_item], local:true do |f| %>
       <%= f.hidden_field :item_id, value: @item.id %>
       <%= f.select :amount, *[1..10] %>
      <div class = "button">
        <%= f.submit  '  カートに入れる  ', class: "btn btn-success" %>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>

</div>