<body>

  <header>

        <%= link_to "商品一覧", admin_items_path , class: 'btn btn-default' %>
        <%= link_to "会員一覧",  admin_customers_path , class: 'btn btn-default' %>
        <%= link_to "注文履歴一覧", admin_path, class: 'btn btn-default' %>
        <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn btn-default' %>
        <% else %>
        <%= link_to "ログイン", new_admin_session_path , class: 'btn btn-default' %>
        <% end %>
  </header>

  <main>
    <div class = "container">

    <h2>注文履歴一覧</h2>

    <table class="table">

      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order) do %>
             <%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            <% end %></td>
          <td><%= order.name %></td>
          <td>
             <% total_quantity = 0 %>
             <% order.order_items.each do |order_item| %>
               <% total_quantity += order_item.quantity %>
             <% end %>
             <%= total_quantity %>
            </td>
        </tr>
        <% end %>
      </tbody>

    </table>

    </div>
  </main>

</body>